@import url('https://fonts.googleapis.com/css?family=Norican');
nav {
    background-color: transparent;
}

.slider .indicators {
    display: none;
}
.slides {
    height: 700px !important ;
}
.slider .slides li .caption {
  
    top: 30%;
}

.slides i {
    font-size: 50px;
    margin-top: 16px;
    padding-top: 16px;

}
/* #left-button {
    margin-left: 0px !important;
}
#right-button {
    margin-right: 0px !important;
} */
/* header icon styling */
.header-icon {
    display: flex;
    justify-content: flex-end;
    height: 64px;
    padding-top: 16px;
}

.header-icon button i {
    color: white;
    line-height: 30px;
    font-weight: 20px;
    
}
.header-icon  button {
    border-radius: 50px;
    padding: 0px;
    background-color: #5d656e;
    width: 30px;
    height: 30px;
    color: #161b21;
    border: 1px solid #5d656e;
    transition: background 1s,color 1s;
    margin-right:16px;
}
.header-icon button:hover {
    color: white;
    cursor: pointer;
    border: none;
}
.header-icon  button:nth-of-type(1):hover {
    background-color: rgb(66, 103, 178);
    
}


.header-icon button:nth-of-type(2):hover {
    background-color: rgb(29, 161, 242);
  
}
.header-icon button:nth-of-type(3):hover {
  background: linear-gradient(to right, yellow, orange,#f442a7,#002aff);
    
}
.header-icon button:focus {
outline: none !important;
}
.header-icon button:active {
background-color: #FF9800 !important;
}

/* slider and header stylig with z index */

.slider {
    position: relative;
    height: 630px !important;
    width: 100%;
    top: -70px;
    z-index: -9;
}
h3 {
    font-family: 'Norican', cursive;
}
/* .second-container {
    background-color:#ed5a26;
    height: 650px;
    width: 100%;
    padding: 16px;
} */
.paddingAll {
    margin-bottom: 0px;
}
.paddingAll .col {
    text-align: center;
    line-height: normal;
    background-color:#ed5a26;
    padding: 16px;
}

.paddingAll i {
    font-size: 40px;
}
.paddingAll p {
    font-size: 14px;
  
}
.deep-orange {
    
    box-shadow: none !important;
}

/* button or view portfolio */
.btn {
    background-color:#ed5a26;
}

/* SELETED WORK DETAIL */
#selected-work {
    background-color:#e7dede;
    width: 100%;
    height: 1400px;

}
.selected-button {
    margin-bottom: 16px;
}
.design {
    margin-bottom: 16px;
}
.design h1{
    color: #161b21;
    font-size: 20px;
}

.btn-small{
    background-color: white !important;
    color: #161b21 !important;
    border: 1px solid;
    border-radius: 5px;
    width: 90px;
}
span .btn {
    width: 100px;
    text-align: center;
    background-color: transparent;
    color: #161b21 !important;
    border: 2px solid;
    border-radius: 5px;
    margin: 12px;
}

.fontWeight {
  
    margin-top: 16px;
}

.fontWeight img {
    width: 100% !important;
    display: inline-block !important;

}
.design {
    align-items: center;
    display: flex;
    flex-direction: column;
}



.images-detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.flex .row {
    margin-bottom: 0px;
}
/* footer */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #161b21;
}
.information {
    margin-right: 16px;
    height: 200px;
    width: 280px;
  
    
}
.massege {
    margin-left: 16px;
}
.name , .email {
    height: 60px;
    width: 300px; 
    background-color: #41576b;
    padding-left: 8px;
}

.message-type {
    height: 134px;
    width: 340px; 
    background-color: #41576b;
    padding-left: 8px;
    margin-left: 16px;
}

.contact-detail {
    width: 100%;
    height: 400px;
}
.contactForm {
    display: flex;
}